.subchannel {
    height: 38px;
    width: 100%;
    z-index: 50;
    margin-bottom: 16px;
}
.subchannel .sub-list {
    top: -50px;
    background: #fff;
    height: 38px;
    border-bottom: 2px solid #f2f2f2;
    margin:0;
    
}
.subchannel .sub-item:first-child {
    margin-left: 0!important;
}
.subchannel .sub-selected {
    color: #f85959;
    /* border-bottom: 2px solid #f85959; */
}
.subchannel .sub-item {
    line-height: 38px;
    font-size: 16px;
    display: inline-block;
    color: #444;
    margin-left: 33px;
    background: #fff;
    list-style: none;
    border-radius: 0px;
}

.sub-item:hover{
    border-bottom: 2px solid red;
    border-radius: 0px;
}
.subchannel .sub-item>a {
    color: #444;
    text-decoration: none;
}
.subchannel .sub-item>a:hover {
    color: red;
}